@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');



body,html {
  font-family: "Afacad Flux", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}


#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

main {
  flex: 1; /* Main content takes up remaining space */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  
  width: 100%;
  position: relative;
  bottom: 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  
}

/* Mobile Styles */
@media (max-width: 1300px) {
  .nav-links {
    z-index: 333;
    display: none;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    
    background-color: #333;
    width: 80%;
    padding: 30px;
    border-radius: 8px;
  }

  .nav-links.open {
    display: flex;
    
  }

  .hamburger {
    display: block;
  }
}


/* ----- */

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],input[type="date"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

textarea {
  height: 100px;
}

input[type="file"] {
  padding: 10px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.submission-status {
  margin-top: 20px;
  color: green;
  text-align: center;
}

h3{
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
}


/* ----- */


#home-page{
  .home-page-container {
    
    margin: 0 auto;
    
  }
  
  /* Jumbotron Section */
  .jumbotron {
    position: relative;
    background-image: url('https://tii.imgix.net/production/articles/12662/722b495f-361a-4d0f-9a1d-0e70ddd1333d.png'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black tint with 60% opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .jumbotron h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .jumbotron p {
    font-size: 1.2em;
    text-align: center;
  }
  
  /* Quick Links Section */
  .quick-links {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .quick-links h2 {
    margin-bottom: 20px;
  }
  
  .links-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .quick-link-btn {
    padding: 15px 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quick-link-btn:hover {
    background-color: #0056b3;
  }
  
  /* News Section */
  .news-section {
    margin-top: 50px;
  }
  
  .news-section h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .news-item {
    margin-bottom: 20px;
  }
  
  .news-item h4 {
    font-weight: bold;
  }
  
  .news-item p {
    margin-top: 10px;
  }
  
}




.session-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.speaker-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.speaker-card {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}


/*  */


.mentor-profiles {
  margin-bottom: 40px;
}

.mentor-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mentor-card {
  width: 200px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mentor-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.mentor-card button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mentor-card button:hover {
  background-color: #0056b3;
}

.mentee-registration, .schedule-tool {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}


/* -------- */

.admin-submissions-container {
  max-width: 800px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}


.interactive-qa-chat{
  background-color: #eeeeee;
  padding: 10px;
  padding-left: 20px;
}